@import '../../../styles/variables';

.container {
  margin: 0 auto;
  width: 280px;

  @media only screen and (min-width: 768px){
    width: 550px;
  }

  @media only screen and (min-width: 1024px){
    width: 880px;
  }
}