@import '../../../styles/variables.scss';

.button {
  color: $color-main-text;
  width: fit-content;  

  @media only screen and (min-width: 768px){
  }

  &__field {
    display: inline-block;
    padding: 8px 12px;
    min-width: 150px;
    width: fit-content;
    border-radius: 18px;
    border: 1px solid $color-dark-brown;
    cursor: pointer;

    &:hover {
      transition: all .3s linear;
      background-color: $color-light-gray;
    }
  }
}