@import '../../../common/styles/variables.scss';

.landing {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $gutter-ml;

    &-image{
      display: inline-block;
      margin-bottom: 44px;
    }

    &-my-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      margin-bottom: $gutter-md;
      text-align: center;
    }

    &-my-description {
      margin-bottom: $gutter-ml;
    }
  }

  &__technology-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: $color-light-blue;  
  }

  &__works {

    &-list {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $color-light-gray;
      padding-top: $gutter-base;
    }
  }
}